{% extends 'base.html' %}
{% block title %}Real Estate{% endblock %}
{% set active_page = 'Real Estate' %}
{% block content %}
<link rel="stylesheet" href="../static/real_estate_page/real_estate.css" type="text/css" />
<section class="container-fluid row">
    
<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://i.pinimg.com/originals/7d/0c/10/7d0c10a13a3b6905d163e702522cde9a.jpg" alt=""/>
        <figcaption>
            <h6>
                7 Rose Ave.
Jeffersonville, IN 47130
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    3
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>
            From the outside this house looks cozy. It has been built with walnut wood and has blue stone decorations. Small, octagon windows let in plenty of light and have been added to the house in a mostly symmetric way. The house is equipped with an average kitchen and two bathrooms, it also has a huge living room, four bedrooms, a cozy dining room, a lounge area and a modest storage room. The building is fairly rounded in shape
        </p>
    </aside>
</article>
    
<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://i.pinimg.com/originals/ab/4a/7b/ab4a7bc716b0e4860e51166981220836.jpg" alt=""/>
        <figcaption>
            <h6>
                76 Central Dr.
Westford, MA 01886
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    6
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>
    From the outside this house looks very elegant. It has been built with grey bricks and has brown stone decorations. Tall, squared windows brighten up the house and have been added to the house in a fairly symmetrical pattern.

    The house is equipped with a huge kitchen and one large bathroom, it also has a fairly small living room, two bedrooms, a spacious dining room, a library and a grand basement.

    The building is shaped like a short U. The two extensions are linked by wooden sunscreens structures.
    The second floor is bigger than the first, which creates a stylish overhang on one side of the house. This floor follows the same style as the floor below.
        </p>
    </aside>
</article>

<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://www.galbraithgroup.com/media/property/ckdrps-KEL160033_S/images/Image-0_1462289966_600x400.jpg" alt=""/>
        <figcaption>
            <h6>
                94 Richardson Rd.
Garden City, NY 11530
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    4
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>
            From the outside this house looks nice and traditional. It has been built with red pine wood and has red pine wooden decorations. Tall, rectangular windows let in plenty of light and have been added to the house in a very asymmetric way.

The house is equipped with a large kitchen and one small bathroom, it also has a cozy living room, three bedrooms, a spacious dining room, a sun room and a small garage.
        </p>
    </aside>
</article>

<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://passivehouseplus.ie/media/k2/items/cache/f1a5756636e5aaaa9e63ee727c781a61_XL.jpg?t=20190918_195807" alt=""/>
        <figcaption>
            <h6>
                460 Fairfield St.
Cleveland, TN 37312
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    5
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>

From the outside this house looks magnificent. It has been built with red bricks and has white cedar wooden decorations. Tall, rectangular windows add to the overall look of the house and have been added to the house in a fairly symmetrical pattern.

The house is equipped with an old-fashioned kitchen and one modern bathroom, it also has a cozy living room, three bedrooms, a spacious dining area, a playroom and a snug storage room.
        </p>
    </aside>
</article>
    
<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F85%2F7b%2F59%2F857b59b233eec4726387eb2e9f4e7c5f.jpg&f=1&nofb=1" alt=""/>
        <figcaption>
            <h6>
                9543 Edgewood Drive
Flint, MI 48504
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    3
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>
            From the outside this house looks snug and comfortable. It has been built with burgandy bricks and has yellow pine wooden decorations. Tall, large windows allow enough light to enter the home and have been added to the house in a very asymmetric way.

The house is equipped with a huge kitchen and one large bathroom, it also has a snug living room, two bedrooms, a roomy dining area, a bar and a snug storage room.
        </p>
    </aside>
</article>

<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://s3-us-west-2.amazonaws.com/hfc-ad-prod/plan_assets/8587/original/8587ms_e_1479210913.jpg?1506332351" alt=""/>
        <figcaption>
            <h6>
                7978 Campfire St.
Riverdale, GA 30274
            </h6>
        </figcaption>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Rooms  
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    4
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tbody>
    
        </table>
    </figure>
    <aside>
        <p>
            The building is fairly rounded in shape. The house is fully surrounded by glass overhanging panels.
The second floor is smaller than the first, which allowed for a roof garden on one side of the house. This floor follows the same style as the floor below.

The roof is low, triangular and layered and is covered with flat roof tiles. Two large chimneys poke out the center of the roof. There are no windows on the roof.
The house itself is surrounded by grass, a huge tree in the center and bushes on the borders of the plot.
        </p>
    </aside>
</article>


</section>
<script>
{% endblock %}
