{% extends 'base.html' %}
{% block title %}Real Estate{% endblock %}
{% set active_page = 'Real Estate' %}
{% block content %}
<link rel="stylesheet" href="../static/real_estate_page/real_estate.css" type="text/css" />
<section class="container-fluid row">
    
<article class="col-lg-3 col-md-4">
    <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/KungshamraJuly2019.jpg/1200px-KungshamraJuly2019.jpg" alt=""/>
        <figcaption>
            <h6>
                Bergshamra 42A, 17070 Solna
            </h6>
        </figcaption>
    </figure>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Rooms  
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Revenue
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    3
                </td>
                <td>
                    6500
                </td>
                <td>
                    9000
                </td>
            </tr>
        </tbody>
    </table>
    <aside>
        <p>
            The apartment is furnished and located in a student area. Close connections to subway and lakes.
        </p>
    </aside>
</article>
</section>
{% endblock %}
