psycopg2
configparser
sqlalchemy
pandas
beautifulsoup4
selenium
pandas
numpy
openpyxl
xlsxwriter
pandas-datareader
xlrd==1.2.0
python-dotenv 
html5lib
requests
fuzzywuzzy
watchdog
fastapi
uvicorn
celery[redis]
python-Levenshtein