{% extends 'base.html' %}
{% block title %}Update{% endblock %}
{% set active_page = 'Update' %}
{% block content %}
<section class="container-fluid">
    <div id="loading-wrapper" style="height: 100vh;">
        <div id="loading">loading...</div>
    </div>
    <section class="row justify-content-center">
        <div id="qr-code-wrapper">
            <img width="200px" height="200px" id="qr-code" src="" alt=""></img>
        </div>
    </section>
</section>
<script>
    const id = {{ id|tojson|safe }}

    async function subscribeQR() {
        let response = await fetch(`/subscribe/qr`); 

        if (response.status == 502) {
            // Status 502 is a connection timeout error,
            // may happen when the connection was pending for too long,
            // and the remote server or a proxy closed it
            // let's reconnect
            await new Promise(resolve => setTimeout(resolve, 2000));
            await subscribeQR();
        } else if (response.status != 200) {
            // An error - let's show it
            console.log(response.statusText);
            // Reconnect in one second
            await new Promise(resolve => setTimeout(resolve, 2000));
            await subscribeQR();
        } else {
 
            // Get and show the message
            let res = await response.json();
   
            if (res.data.length != 0) {
                return res.data
            }

            return new PromiseRejectionEvent()

        }
    }

    let qrCodeRecieved = false;
    async function subscribe(job_id) {
        let response = await fetch(`/subscribe/${job_id}`);
        if (response.status == 502) {
            // Status 502 is a connection timeout error,
            // may happen when the connection was pending for too long,
            // and the remote server or a proxy closed it
            // let's reconnect
            await new Promise(resolve => setTimeout(resolve, 2000));
            await subscribe(job_id);
        } else if (response.status != 200) {
            // An error - let's show it
            console.log(response.statusText);
            // Reconnect in one second
            await new Promise(resolve => setTimeout(resolve, 2000));
            await subscribe(job_id);
        } else {
            // Get and show the message
            let message = await response.json();
            console.log(message); 

            if ((message == 'STARTED' |  message == "PENDING") && !qrCodeRecieved) {
                // Call to fetch binary
                qrElement = document.getElementById('qr-code')
                await subscribeQR()
                .then(data => { qrElement.src = data; qrCodeRecieved=true;})
                .catch(err => {console.log(err)})
                
            }

            if (message == "SUCCESS" | message == "FAILURE") {
                document.getElementById('loading-wrapper').style.visibility = 'hidden';
                return
            }
            // Call subscribe() again in one second to get the next message
            await new Promise(resolve => setTimeout(resolve, 2000));
            await subscribe(job_id)
        }
    }

    subscribe(id);
</script>
{% endblock %}
