
#checkmark-container {
  border-radius:200px;
  height:200px; 
  width:200px;
  background: #F8FAF5; 
  margin:0 auto;
  }

i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}

#qr-code-wrapper {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#open-bank-id-prompt {
    height: max-content;
    text-align: center;
    padding-top: 50px;
    max-width: 400px;
}

.spinner-container {
    padding-top: 30vh;
}

.spinner-border {
    width: 8rem;
    height: 8rem;
}

#loading-dots:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: black;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;}}